In [39]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
obj = Series([3,4,6,9])

In [5]:
obj

0    3
1    4
2    6
3    9
dtype: int64

In [6]:
obj = Series([3,6,1,2], index=['three','six','one','two'])

In [7]:
obj

three    3
six      6
one      1
two      2
dtype: int64

In [8]:
obj.values

array([3, 6, 1, 2], dtype=int64)

In [10]:
obj.index

Index([u'three', u'six', u'one', u'two'], dtype='object')

In [11]:
obj['one']

1

In [12]:
obj[obj>1]

three    3
six      6
two      2
dtype: int64

In [13]:
# To convert series into Dict
objDict = obj.to_dict()

In [14]:
objDict

{'one': 1, 'six': 6, 'three': 3, 'two': 2}

In [15]:
#Series to dict

obj = Series(objDict)

In [16]:
obj

one      1
six      6
three    3
two      2
dtype: int64

In [28]:
spanish = ['one', 'six', 'three','two','cinco']

In [32]:
obj2 = Series(objDict,index=spanish)

In [33]:
objDict

{'one': 1, 'six': 6, 'three': 3, 'two': 2}

In [34]:
obj2

one      1.0
six      6.0
three    3.0
two      2.0
cinco    NaN
dtype: float64

In [35]:
# to check for null values
pd.isnull(obj2)

one      False
six      False
three    False
two      False
cinco     True
dtype: bool

In [36]:
# to check for not null values
pd.notnull(obj2)

one       True
six       True
three     True
two       True
cinco    False
dtype: bool

In [37]:
obj+obj2

cinco     NaN
one       2.0
six      12.0
three     6.0
two       4.0
dtype: float64

In [38]:
# name series object

obj2.name="Espanol inclusion"
obj2

one      1.0
six      6.0
three    3.0
two      2.0
cinco    NaN
Name: Espanol inclusion, dtype: float64

In [64]:
###################### Data Frames #################

import webbrowser
website='https://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [68]:
# Read data from website (clipboard)

frame = pd.read_clipboard()

In [69]:
frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [70]:
frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.',
       u'First NFL Season', u'Total Games', u'Division'],
      dtype='object')

In [76]:
frame['Won'] #or frame.Won

0    741
1    480
2    720
3    429
4    462
Name: Won, dtype: int64

In [78]:
# Grab multiple columns

DataFrame(frame,columns=['Team','Won','Lost','Draw'])

                   Team  Won  Lost  Draw
0         Chicago Bears  741   555   NaN
1        Dallas Cowboys  480   364   NaN
2     Green Bay Packers  720   547   NaN
3        Miami Dolphins  429   335   NaN
4  New England Patriots  462   381   NaN

In [79]:
frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [85]:
# To fetch first rows
frame.head(2)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East

In [83]:
#last rows

frame.tail()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East

In [87]:
#retreive data using index

frame.ix[1]

Rank                             2
Team                Dallas Cowboys
Won                            480
Lost                           364
Tied                             6
Pct.                         0.568
First NFL Season              1960
Total Games                    850
Division                  NFC East
Name: 1, dtype: object

In [88]:
frame['Stadium']=np.arange(5)

In [89]:
frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,0
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,1
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,2
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,3
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,4

In [90]:
#Series in dataframe
stadiums = Series(["Levi's Stadium", "AT&T Stadium"], index=[2,0])

In [91]:
stadiums

2    Levi's Stadium
0      AT&T Stadium
dtype: object

In [92]:
frame['Stadium']=stadiums

In [93]:
frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North,AT&T Stadium
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East,NaN
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North,Levi's Stadium
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East,NaN
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East,NaN

In [94]:
# Delete column

del frame['Stadium']

In [95]:
frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Chicago Bears,741,555,42,0.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,0.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,0.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,0.561,1966,768,AFC East
4,5,New England Patriots,462,381,9,0.548,1960,852,AFC East